* {
  margin: 0;
  padding: 0%;
}

div {
  color: blueviolet;
  font-size: xx-large;
  margin: 25px;
}

button {
  background-color: blueviolet;
  color: burlywood;
  font-size: xx-large;
  border-radius: 25px;
}

button:hover {
  color: cadetblue;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}

.card {
  width: 18rem;
}

p {
  font-size: small;
}

.card-body {
  background-color: antiquewhite;
}
